In [427]:
import pandas as pd
import json
import numpy as np
from pandas.io.json import json_normalize

In [428]:
df = pd.read_json('data/world_bank_projects.json')

In [429]:
df = df.set_index('countryname')

# Top 10 Countries with Most Projects

In [430]:
projects_per_country = df.groupby(df.index).size()
top_10 = projects_per_country.sort_values().tail(10)
print(top_10)

countryname
Republic of Mozambique             11
Africa                             11
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Nepal                              12
Republic of Yemen                  13
Republic of India                  16
Socialist Republic of Vietnam      17
Republic of Indonesia              19
People's Republic of China         19
dtype: int64

# Top 10 Major Project Themes

In [431]:
data = list(df['mjtheme_namecode'])
data = [item for sublist in data for item in sublist]
df_data = pd.DataFrame(data) 
print(df_data.groupby('code').count().sort_values('name').tail(10))

      name
code
1       38
9       50
5       77
7      130
4      146
6      168
2      199
8      210
10     216
11     250

# Missing Names Filled In

In [432]:
df_data = df_data.replace('',np.nan)
df_sorted = df_data.sort_values('code')
df_correct = df_sorted.ffill()
print(df_correct)

     code                 name
458     1  Economic management
1235    1  Economic management
1230    1  Economic management
1229    1  Economic management
1218    1  Economic management
900     1  Economic management
648     1  Economic management
647     1  Economic management
1078    1  Economic management
1206    1  Economic management
1437    1  Economic management
357     1  Economic management
363     1  Economic management
1010    1  Economic management
784     1  Economic management
1024    1  Economic management
88      1  Economic management
1045    1  Economic management
497     1  Economic management
1056    1  Economic management
1057    1  Economic management
1114    1  Economic management
454     1  Economic management
453     1  Economic management
1257    1  Economic management
1260    1  Economic management
1212    1  Economic management
249     1  Economic management
841     1  Economic management
220     1  Economic management
...   ...                  ...
669     9    Urban development
1303    9    Urban development
1347    9    Urban development
460     9    Urban development
1342    9    Urban development
183     9    Urban development
200     9    Urban development
1318    9    Urban development
1290    9    Urban development
585     9    Urban development
737     9    Urban development
822     9    Urban development
369     9    Urban development
597     9    Urban development
53      9    Urban development
598     9    Urban development
356     9    Urban development
354     9    Urban development
962     9    Urban development
738     9    Urban development
512     9    Urban development
742     9    Urban development
1428    9    Urban development
333     9    Urban development
1426    9    Urban development
1425    9    Urban development
447     9    Urban development
739     9    Urban development
341     9    Urban development
1102    9    Urban development

[1499 rows x 2 columns]